{% extends 'main/index.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>За IoT - будущее</h1>
        <p>Доброго времени суток! Данный сервис разработан для популизации Умных вещей в обиходе обычного пользователя.
            Ведь такого удобства, комфорта и качества жизни возможно добиться исключительно использовав "Умные вещи"!
            Каждому человеку за небольшую плату доступны все условия: Начиная от комфортной температуры в каждой комнате
            заканчивая таймером работы розетки!
            Комплекс "Умных вещей" образует "Умный дом"! Умный дом, кроме комфорта предоставляет и системы предупреждения:
            Датчики протечки воды, дыма и огня, сигнализации и видеокамеры.
        </p>
        <button class="btn btn-warning" onclick="location.href='about'">Сделай свой дом "Умным" - Иди в ногу со временем</button>
    </div>
{% endblock %}