body{
    background-image: url("https://cdn1.ozone.ru/s3/multimedia-p/6030027877.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

aside{
    float: left;
    background: #181818;
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}


aside img {
    width: 75px;
    float: left;
}

aside .logo {
    font-size: 20px;
    margin-left: 11px;
    font-weight: bold;
    position: relative;
    top: 5px;
}
aside .logo2 {
    font-size: 20px;
    margin-left: 11px;
    font-weight: bold;
    position: relative;
    top: 6px;
}

button{
    margin-left: 55px;
    margin-right: 50px;
    margin-top: 0px;
}

aside h3{
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}
aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.1);
}

main .about_features {
    float: right;
    position: relative;
    color: #FFFAF0;
    margin-top: 90px;
    text-align: center;
    width: 80%;
}

main .about_features h1 {font-size: 45px; margin-right: 500px; text-align: center;}
main .about_features p {max-width: 660px; margin: 20px auto;}


main img{
    width: 550px;
    float: left;
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 130px;
}